/* ***** POLICES ***** */
@font-face {
  font-family: "Montserrat-Medium";
  src: url(./assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat-Thin";
  src: url(./assets/fonts/Montserrat-Thin.ttf);
}

/* ***** VARIABLES ***** */
:root {
  --white: #f5f5f5;
  --black: #050505;
  --color: #53117a;
  --grey: #edf2f5;
}

/* ***** REGLAGES GENERAUX ***** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat-Medium", sans-serif;
}
li {
  list-style: none;
}
p {
  font-family: "Montserrat-Medium";
  font-size: 0.8rem;
}
button {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  color: var(--white);
  font-family: "Montserrat-Thin";
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px 20px;
  border: 1px solid var(--white);
  background: transparent;
}
a {
  color: var(--color);
  text-decoration: none;
  font-weight: bold;
  font-size: 0.7rem;
}

/* ***** BODY ***** */
body {
  background: var(--white);
}

/* ***** NAVIGATION ***** */
nav {
  width: 85%;
  margin: 0 auto;
  height: 60px;
}
nav ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
}
nav ul li {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 100%;
}
nav ul li:first-of-type {
  color: var(--color);
  position: relative;
}
nav ul li:first-of-type::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: var(--color);
  position: absolute;
  top: 0;
  left: 0;
}
.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--grey);
  padding: 0 5px;
  border-radius: 20px;
}
.fr,
.en {
  padding: 5px;
}
.fr {
  position: relative;
}
.fr::after {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  background: var(--black);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/* ***** HEADER ***** */
header {
  background: url(./assets/img/bg.jpg) center/cover fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container {
  margin: 60px auto;
}
.header-logo-container img {
  width: 80%;
  display: block;
  margin: 0 auto;
}
h1 {
  text-transform: uppercase;
  color: var(--white);
  font-size: 1.2rem;
  text-align: center;
  margin: 30px auto;
}
.header-footer {
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-footer-container {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.header-footer-container p {
  font-family: "Montserrat-Medium";
  font-weight: bold;
  font-size: 1.1rem;
}
/* ***** SCHOOL ***** */
.school {
  background: var(--black);
}
.school-container {
  margin: 0 auto;
  padding: 80px 0;
  width: 85%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.school-card {
  width: 20%;
  text-align: center;
}
.school-card h3 {
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-top: 40px;
}
.school-card p {
  color: var(--white);
  font-weight: bold;
  padding: 10px 0 25px 0;
}
.school-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.school-card button {
  font-size: 0.6rem;
}

/* ***** NEWS ***** */
.news {
  background: var(--grey);
  padding: 60px 0;
}
.news-container {
  width: 85%;
  margin: 0px auto;
}
.news-header {
  display: grid;
  margin-bottom: 40px;
  grid-template-columns: 60% 40%;
  justify-items: start;
  align-items: center;
}
.news-header-left h2 {
  text-transform: uppercase;
  font-family: "Montserrat-Medium";
  font-weight: normal;
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.news-header-left p {
  font-family: "Montserrat-Medium";
  font-weight: bold;
  padding: 10px 0;
}
.news-header-right button {
  border: 1px solid var(--black);
  color: var(--black);
  font-size: 0.8rem;
  font-family: "Montserrat-Medium";
}
.news-main {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.news-main-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}
.news-main-card img {
  width: 100%;
}
.news-main-card h4 {
  padding: 5px 0;
}
.news-main-card p {
  font-family: "Montserrat-Medium";
  padding: 5px 0 20px;
}
.news-main-card a {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* ***** FOOTER ***** */
footer {
  background: #fff;
}
.links {
  width: 85%;
  margin: 0 auto;
  padding: 60px 0 0;
}
.links-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.links-container:after {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  background: #edf2f5;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.links-container h4 {
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 10px;
}
.links-container p {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 0.7rem;
}
.links-container a {
  padding: 5px 0;
}
.link-container-column1 {
  width: 20%;
  text-align: center;
}
.link-container-column2 {
  width: 20%;
}
.links-infos-pratiques {
  display: flex;
  flex-direction: column;
}
.link-container-column3 {
  width: 20%;
}
.link-container-column4 {
  width: 20%;
}
.follow {
  margin: 15px 0;
}
.networks i {
  padding: 0 5px;
  font-size: 0.8rem;
}
.press-container {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  padding: 40px 0;
}
.press-container-left h4 {
  text-transform: uppercase;
}
.press-container-left p {
  font-weight: bold;
  padding: 10px 0;
}
.press-container-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ***** INVESTORS ***** */
.investors {
  background: var(--black);
  padding: 30px 0;
}
.investors-container {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.investors-container h3 {
  color: var(--white);
  text-transform: uppercase;
  font-family: "Montserrat-Thin";
  padding-bottom: 10px;
}
.investors-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ********** MEDIA QUERIES ********** */
@media screen and (max-width: 1040px) {
  nav ul {
    font-size: 0.6rem;
  }
  .press-container-right {
    flex-wrap: wrap;
  }
  .investors-logos {
    flex-wrap: wrap;
  }
  .investors-logos img {
    padding: 5px;
  }
}

@media screen and (max-width: 900px) {
  .links-container {
    flex-wrap: wrap;
  }
  .link-container-column1 {
    width: 50%;
    padding: 20px;
  }
  .link-container-column2 {
    width: 50%;
    padding: 20px;
  }
  .link-container-column3 {
    width: 50%;
    padding: 20px;
  }
  .link-container-column4 {
    width: 50%;
    padding: 20px;
  }
  .press-container {
    display: block;
  }
}

@media screen and (max-width: 835px) {
  nav {
    display: none;
  }
  .links-container h4 {
    font-size: 0.8rem;
    padding-bottom: 2px;
  }
  .links-container a {
    font-size: 0.6rem;
  }
  .links-container p {
    font-size: 0.6rem;
  }
  .links-container i {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 660px) {
  .header-footer-container p {
    font-size: 0.9rem;
  }
  .school-container {
    display: block;
  }
  .school-card {
    width: 90%;
    margin: 0 auto 40px;
  }
  .news-header {
    display: flex;
    flex-direction: column;
  }
  .news-header-left {
    padding-bottom: 20px;
  }
  .news-main {
    display: block;
  }
  .news-main-card {
    width: 90%;
    padding-bottom: 40px;
  }
  .news-main-card img {
    width: 75%;
  }
}

@media screen and (max-width: 500px) {
  .links-container {
    display: block;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 0.9rem;
  }
  button {
    font-size: 0.6rem;
  }
}
