// Import des Fonts
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
}

// Variables
$font: "Montserrat", sans-serif;
$white: #ffffff;
$black: #000000;
$color: #5f04aa;
$grey1: #e0e0e0;
$grey2: #f7f7f7;
$white-button: #f5f5f5bf;

// Mixins
@mixin title {
  text-transform: uppercase;
}
@mixin centerChild {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Réglages généraux
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: $font;
  color: $black;
}
body {
  background: $white;
}
h1 {
  @include title;
}
li {
  list-style: none;
}
.button {
  @include title;
  font-weight: 600;
  letter-spacing: 1px;
  background: transparent;
  padding: 10px 20px;
  color: $white;
  border: 1px solid $white;
  transition: 0.4s;
  cursor: pointer;
  &:hover {
    background: $white-button;
    color: $black;
  }
}
a {
  @include title;
  color: $color;
  text-decoration: none;
}
