footer.investors {
  background: $black;
  .investors-container {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
    padding: 30px;
    h2 {
      @include title;
      @include h2-police-desktop;
      color: $white;
      font-weight: 400;
      padding-bottom: 20px;
    }
    .investors-logos ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      li {
        padding: 15px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
