header {
  background: url(../img/background-video-game-player.webp) center/cover fixed;
  @include centerChild;
  .header-container {
    width: 70%;
    padding: 60px 0;
    img {
      width: 70%;
      height: auto;
      max-width: 600px;
    }
    h1 {
      font-size: clamp(
        0.7rem,
        calc(0.7rem + ((1vw - 0.2rem) * 1.1429)),
        1.5rem
      );
      min-height: 0vw;
      padding: clamp(15px, calc(0.9375rem + ((1vw - 3.2px) * 1.3393)), 30px);
      color: $white;
      font-weight: 700;
    }
    .button {
      width: clamp(205px, calc(12.8125rem + ((1vw - 3.2px) * 11.1607)), 330px);
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: clamp(0.5rem, calc(0.5rem + ((1vw - 0.2rem) * 0.7143)), 1rem);
      min-height: 0vw;
      &:hover {
        a {
          color: $black;
        }
        .icon {
          fill: $black;
        }
      }
      a {
        color: $white;
        font-size: clamp(
          0.5rem,
          calc(0.5rem + ((1vw - 0.2rem) * 0.7143)),
          1rem
        );
      }
      .icon {
        fill: $white;
        @include centerChild;
        height: clamp(8px, calc(0.5rem + ((1vw - 3.2px) * 0.7143)), 16px);
        width: clamp(4px, calc(0.25rem + ((1vw - 3.2px) * 0.3571)), 8px);
        transform: translateX(5px);
      }
    }
  }
}
.header-footer {
  .header-footer-container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 125px;
    @include centerChild;
    p {
      font-size: clamp(
        0.6rem,
        calc(0.6rem + ((1vw - 0.2rem) * 0.7143)),
        1.1rem
      );
      font-weight: 700;
    }
  }
}
