nav {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
  @media screen and (max-width: 860px) {
    display: none;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      padding: 20px 10px;
      a,
      .language {
        @include title;
        font-size: clamp(
          0.55rem,
          calc(0.55rem + ((1vw - 0.45rem) * 0.5)),
          0.7rem
        );
        font-weight: 800;
        color: $black;
        min-height: 0vw;
        cursor: pointer;
      }
      .language {
        background: $grey1;
        padding: 6px 12px;
        border-radius: 50px;
        transition: 0.2s;
        cursor: pointer;
      }
      &:first-child {
        a {
          color: $color;
        }
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 5px;
          background: $color;
          left: 0;
          transform: translateY(-26px);
        }
      }
      &:not(:last-child):hover {
        a {
          color: $color;
        }
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 5px;
          background: $color;
          left: 0;
          transform: translateY(-26px);
        }
      }
      .language:hover {
        transform: scale(1.1);
      }
    }
  }
}
